pymilvus==2.4.10
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asttokens
attrs
build
CacheControl
certifi
charset-normalizer
cleo
click
colorama
comm
crashtest
dataclasses-json
debugpy
decorator
distlib
distro
dulwich
executing
fastapi
fastjsonschema
filelock
frozenlist
greenlet
grpcio
h11
httpcore
httpx
httpx-sse
idna
importlib_metadata
installer
ipykernel
ipython
ipython_pygments_lexers
jaraco.classes
jedi
jiter
jsonpatch
jsonpointer
jupyter_client
jupyter_core
keyring
langchain
langchain
langchain-community
langchain-core
langchain-experimental
langchain-milvus
langchain-openai
langchain-text-splitters
langgraph
langgraph-prebuilt
langgraph-sdk
langsmith
marshmallow
matplotlib-inline
minio==7.2.15
more-itertools
msgpack
multidict
mypy_extensions
nest-asyncio
numpy
openai
openpyxl
orjson
ormsgpack
packaging
pandas
parso
pexpect
pkginfo
platformdirs
poetry
poetry-core
poetry-plugin-export
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pydantic
pydantic-settings
pydantic_core
Pygments
pyproject_hooks
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
RapidFuzz
regex
requests
requests-toolbelt
shellingham
six
sniffio
SQLAlchemy
stack-data
starlette
tenacity
tiktoken
tomlkit
tornado
tqdm
traitlets
trove-classifiers
typing-inspect
typing-inspection
typing_extensions
tzdata
ujson
urllib3
uvicorn
virtualenv
wcwidth
xxhash
yarl
zipp
zstandard
